<div class="logo">
	<h1 class="title">toss.me</h1>
</div>

<% if @success and @success = true %>
	<p class="warning success">Your url was successfully shortened</p>
<% end %>

<div class="page_title">
	<a class="url_title" href="https://toss-me-url-shortener.herokuapp.com/<%= @url.short_url %>"> toss-me-url-shortener.herokuapp.com/<%= @url.short_url %> </a>
</div>

<p class="info">This url has been visited <%= @url.accesses %> times and redirects to</p>
<a href="<%= @url.url %>"> <%= @url.url %> </a>

<br><br>

<p>To see this meta page again, access <a href="https://toss-me-url-shortener.herokuapp.com/info/<%= @url.short_url %>">toss-me-url-shortener.herokuapp.com/info/<%= @url.short_url %></a> anytime.</p>

https://toss-me-url-shortener.herokuapp.com/shorten